<!-- PANTALLA INICIAL -->
<div class="col-md-4 col-md-offset-4" id="contenedorInicial">
    <div class="panel panel-login">
        <div class="panel-heading">
            <div class="row">
                <h3>Inscripción</h3>
            </div>
            <hr>
        </div>
        <div class="panel-body text-center" id="cuerpoInicial">
            <!-- <a id="btnVerConstancia" class="btn btn-info btn-lg" href="#/buscarConstancia">Ver Constancia</a> -->
            <div class="center-buttons">
                <div class="btn-toolbar">
                    <a id="btnVerConstancia" class="btn btn-info btn-lg" href="#/buscarConstancia">Ver Constancia</a>
                    <a id="btnInscripcion" class="btn btn-info btn-lg" href="#/inscripcion">Inscripción</a>
                </div>
            </div>
        </div>
    </div>
</div>